src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">


	<flow name="post:\fusiontest:application\json:FusionTester-config">
		<ee:transform doc:name="Save input in variable 'inputData'" doc:id="0735fdfa-6a38-475d-8897-eed49f911273" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="TestId" ><![CDATA[%dw 2.0
output application/java
---
payload['TestId'] as Number
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Initialize tables" doc:id="676537bf-9efb-4d94-ab89-add55ebc5423" config-ref="mssql-jdbc">
			<db:sql >{ call InitializeTest(:TestId) }</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'TestId' : vars.TestId }]]]></db:input-parameters>
		</db:stored-procedure>
		
	
		<set-payload value="#[vars.TestId]" doc:name="Set Payload" doc:id="81233c51-2f6f-443f-8a23-26d518b21f7c" />
		<async doc:name="Async" doc:id="bf4531bc-0bb4-40c9-8c5c-712239a66a36">
			<vm:publish queueName="BackgroundJob" doc:name="Publish" doc:id="8316df58-d81c-42cc-8a09-f72fed584503" config-ref="VM_Config1"/>
				</async>
		<set-payload value="#['Test started']" doc:name="Return message to client" doc:id="dacebd1f-d3b4-4f94-9503-6fbf68b2e5a7" />
    
</flow>
	<flow name="BackgroundJob" doc:id="d3795b0c-9425-4e61-810f-ab8d3b5cc98c" >
		<vm:listener doc:name="Listener" doc:id="044bc086-f58a-4fa4-8184-6dddfacd4e52" config-ref="VM_Config1" queueName="BackgroundJob"/>
		<set-variable value="#[payload]" doc:name="Save TestId" doc:id="1a025aeb-d7f3-49f2-a3a6-5e31882e8cc7" variableName="TestId"/>
		<flow-ref doc:name="GetRealCurrentDateTime" doc:id="df017b21-c655-4d00-b412-cf4577595f8d" name="GetRealCurrentDateTime"/>
		<db:stored-procedure doc:name="Get Active Status of Testjob" doc:id="114db2a2-6a9d-49c5-852c-40d91fbb369b" config-ref="mssql-jdbc">
			<db:sql >{ call IsBackgroundJobActive(:TestId, :CurrentDateTimeString) }</db:sql>
			<db:input-parameters ><![CDATA[#[{ 
'TestId': vars.TestId, 
'CurrentDateTimeString': vars.RealCurrentDateTime
}]]]></db:input-parameters>
		</db:stored-procedure>
		<choice doc:name="Check if testjob is active" doc:id="911d0f75-ba42-42b4-b7c5-882d3632a96a" >
			<when expression="payload.resultSet1['BackgroundJobIsActive'][0] == 'FALSE'">
				<set-payload value="#[vars.TestId]" doc:name="Set Payload" doc:id="b6753fe5-ef0f-4785-bdb8-a2828791ec3b" />
				<async doc:name="Async" doc:id="05899c97-b181-470b-96f4-0de874b18bf2">
			<flow-ref doc:name="testJob" doc:id="9d87d395-50c8-4f2c-a824-12b1f1f4f8fe" name="testJob" />
		</async>
			</when>
		</choice>
		<set-payload value="#[vars.TestId]" doc:name="Set Payload" doc:id="386a0ff2-05c0-4434-aa67-7e0b1843f4de" />
		<vm:publish doc:name="Publish" doc:id="72fcb67f-957d-4a33-afbb-b4f2204a80b7" config-ref="VM_Config1" queueName="BackgroundJob"/>
	</flow>
	<flow name="testJob" doc:id="38b7d936-754f-4cef-a1a0-72222d3964b6" >
	<!--	<set-variable value="#[payload]" doc:name="Save list of Fusion Request ids" doc:id="cd1b0e74-b38d-481f-8acf-8e1ce0525b5e" variableName="FusionRequestIdsList"/>
		  <foreach doc:name="For Each" collection="#[payload]">-->
			<db:stored-procedure doc:name="Get details for Fusion Request" doc:id="a090a89e-459e-48d9-8483-a6cbbed2378e" config-ref="mssql-jdbc">
				<db:sql >{ call GetNextFusionRequestToTest(:TestId) }</db:sql>
				<db:input-parameters ><![CDATA[#[{ 'TestId': payload }]]]></db:input-parameters>
			</db:stored-procedure>
			<ee:transform doc:name="Save data in 'fusionItem' variable" doc:id="26c87d01-6c07-47cf-9509-24fb3240b449">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="loggedItem" ><![CDATA[%dw 2.0
output application/java
---
{
	FusionRequestId: payload[0].FusionRequestId[0],
	FusionRequestXml: payload[0].FusionRequestXml[0],
	FusionResponseXml: payload[0].FusionResponseXml[0],
	FusionRequestType: payload[0].RequestType[0],
	FusionRequestTypeLowerCase: lower (payload[0].RequestType[0]),
	FusionRequestTime:  payload[0].RequestTime[0] as String
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<flow-ref doc:name="buildSoapRequest" doc:id="2071d4b0-89a7-4ac3-ab20-78e61080350f" name="buildSoapRequest"/>
			<try doc:name="Try" doc:id="b3c4de21-e939-4df2-a231-5094a6040522" >
				<flow-ref doc:name="testFusionRequest" doc:id="24d7d97d-9c34-4b94-978c-8fc72693fb4c" name="testFusionRequest"/>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="93b73c16-3c6b-4bd8-b253-921098f6596b">
						<logger level="INFO" doc:name="Logger" doc:id="06091269-4c7b-42f3-bbeb-785eaf3481c9" message="[#payload]" />
						<set-payload value="#['There was an error when calling Fusion: ' ++ error.description ++ '\r\nThe request was\r\n' ++ vars.actualRequest]" doc:name="Set Payload" doc:id="4377172d-9353-4dec-a7c8-3f58e6506a92" />
			</on-error-continue>
				</error-handler>
			</try>
			<db:stored-procedure doc:name="Store test result" doc:id="18e6b2e3-204d-4f82-9791-abaf9d262559" config-ref="mssql-jdbc">
				<db:sql >{ call UpdateTestResult(:TestId, :FusionRequestId, :TestResult, :TestInfo,:ExpectedResponse,:ActualResponse,:ActualDCScalls) }</db:sql>
				<db:input-parameters ><![CDATA[#[{
	'TestId': vars.TestId,
	'FusionRequestId': vars.loggedItem.FusionRequestId,
	'TestResult': payload.Message,
	'TestInfo': vars.inputData.TestInfo,
	'ExpectedResponse': payload.ExpectedResponseCleaned,
	'ActualResponse': payload.ActualResponseCleaned,
	'ActualDCScalls': payload.DCScalls
}]]]></db:input-parameters>
			</db:stored-procedure>
		<logger level="INFO" doc:name="Logger" doc:id="9eb54461-a20b-442f-8156-c3a56d26e723" message="#['Finished processing request ' + vars.loggedItem.FusionRequestId]" />
		
<!--  </foreach>-->
	</flow>
	<flow name="testFusionRequest" doc:id="6422de27-cd6f-4c88-afce-85e270f41e58" >
		<flow-ref doc:name="SetTimeToEventTime" doc:id="10225e43-d10a-46ff-a50a-529003cf197e" name="SetTimeToEventTime"/>
		<http:request method="POST" doc:name="Fusion WS" doc:id="8f351ffe-262c-498f-801e-66d6cdd266f7" config-ref="FusionWebService" path="/FusionService.svc">
			<http:body ><![CDATA[#[vars.actualRequest]]]></http:body>
			</http:request>
		<flow-ref doc:name="formatResponse" doc:id="ebabee6f-5948-4d52-85c0-9216bd0d3ad0" name="formatResponse" />
		<flow-ref doc:name="SetTimeToCurrentTime" doc:id="8ce24fd9-d044-41a7-af28-9a2f151ce0cc" name="SetTimeToCurrentTime" />
		<db:stored-procedure doc:name="Get DCS calls info" doc:id="1aa84446-ea2e-408e-8913-25e648b1145e" config-ref="mssql-jdbc">
			<db:sql >{ call GetDCSCallsForFusionRequest(:FusionRequestId)}</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'FusionRequestId': vars.loggedItem.FusionRequestId }]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Save to 'DCScalls' variable" doc:id="cfaa72d4-add7-4c0a-8b6a-c467b8f84ad8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="DCScalls" ><![CDATA[%dw 2.0
output application/java
---
{
	expected: payload['resultSet1'],
	actual: payload['resultSet2']	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:invoke-static doc:name="Compare logged response with actual" doc:id="e4467348-009a-44b9-be6e-1bed32177923" class="fusiontester.ProcessData" method="CompareResults(String, String, String, Object, Object)">
				<java:args><![CDATA[#[{ 
	requestType: vars.loggedItem.FusionRequestType,
	loggedResponse: vars.loggedItem.FusionResponseXml,
	actualResponse: vars.actualResponse,
	expectedDCScalls: vars.DCScalls.expected,
	actualDCScalls: vars.DCScalls.actual
}]]]></java:args>
			</java:invoke-static>
	</flow>

</mule>
