src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">

	<flow name="post:\fusion:application\json:FusionTester-config">
		<ee:transform doc:name="Save input in variable 'inputData'" doc:id="0735fdfa-6a38-475d-8897-eed49f911273" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/java
---
{
	Airline: if (payload['Airline'] != null ) payload['Airline'] else "%",
	Airport: if (payload['Airport'] != null ) payload['Airport'] else "%",
	StartDate: if (payload['StartDate'] != null ) payload['StartDate'] else "1900-01-01",
	EndDate: if (payload['EndDate'] != null ) payload['EndDate'] else "2100-01-01",
	ParallelRuns: if (payload['ParallelRuns'] != null ) payload['ParallelRuns'] else 3,
	DatabaseName: payload['DatabaseName'],
	DatabaseTable: payload['DatabaseTable'],
	DbUser: payload['DbUser'],
	DbPassword: payload['DbPassword'],	
	FusionServiceUrl: payload['FusionServiceUrl'],
	TestInfo: payload['TestInfo']
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Get list of Fusion Request Ids to process" doc:id="676537bf-9efb-4d94-ab89-add55ebc5423" config-ref="mssql-jdbc">
			<db:sql >{ call GetFusionRequestsToTest(:Airline, :Airport, :StartDate, :EndDate, :DatabaseName, :TableName) }</db:sql>
			<db:input-parameters ><![CDATA[#[{
						'Airline' : vars.inputData.Airline,
						'Airport' : vars.inputData.Airport,
						'StartDate': vars.inputData.StartDate,
						'EndDate': vars.inputData.EndDate,
						'DatabaseName': vars.inputData.DatabaseName,
						'TableName': vars.inputData.DatabaseTable
						}]]]></db:input-parameters>
		</db:stored-procedure>
		
	
		<java:invoke-static doc:name="Convert data to array" doc:id="e5854888-8e63-4060-8e37-c5ec5846f161" class="fusiontester.ProcessData" method="splitRowsToRun(Object, int)" target="FusionRequestIds">
			<java:args ><![CDATA[#[{ 
	data: payload['resultSet1'],
	parallelRuns: vars.inputData.ParallelRuns
}]]]></java:args>
		</java:invoke-static>

		
		<foreach doc:name="For Each" collection="#[vars.FusionRequestIds]">
			<async doc:name="Async">
					<flow-ref doc:name="testJob" doc:id="8cbfc6fd-7600-494e-a798-141a3e667d6f" name="testJob" />
				</async>
		
</foreach>
		<set-payload value="#['Test started']" doc:name="Return message to client" doc:id="dacebd1f-d3b4-4f94-9503-6fbf68b2e5a7" />
    
</flow>
	<flow name="testJob" doc:id="38b7d936-754f-4cef-a1a0-72222d3964b6" >
		<foreach doc:name="For Each" collection="#[payload]">
			<db:stored-procedure doc:name="Get details for Fusion Request" doc:id="a090a89e-459e-48d9-8483-a6cbbed2378e" config-ref="mssql-jdbc">
				<db:sql >{ call GetFusionRequestDetails(:FusionRequestId, :TableName, :DatabaseName) }</db:sql>
				<db:input-parameters ><![CDATA[#[{
	'FusionRequestId': payload[0],
	'DatabaseName': vars.inputData.DatabaseName,
	'TableName': vars.inputData.DatabaseTable
}]]]></db:input-parameters>
			</db:stored-procedure>
			<ee:transform doc:name="Save data in 'fusionItem' variable" doc:id="26c87d01-6c07-47cf-9509-24fb3240b449">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="loggedItem" ><![CDATA[%dw 2.0
output application/java
---
{
	FusionRequestId: payload[0].FusionRequestId[0],
	FusionRequestXml: payload[0].FusionRequestXml[0],
	FusionResponseXml: payload[0].FusionResponseXml[0],
	FusionRequestType: payload[0].RequestType[0],
	FusionRequestTypeLowerCase: lower (payload[0].RequestType[0])
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
	
			<flow-ref doc:name="buildSoapRequest" doc:id="2071d4b0-89a7-4ac3-ab20-78e61080350f" name="buildSoapRequest"/>
			<http:request method="POST" doc:name="Fusion WS" doc:id="8f351ffe-262c-498f-801e-66d6cdd266f7" config-ref="FusionWebService" path="/FusionService.svc">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/soap+xml",
	"charset" : "UTF-8",
	"action" : "http://services.fusion.aero/IFusionService/GetReservationByNativeReference"
}]]]></http:headers>
			</http:request>
			<!--  
			<wsc:consume doc:name="Fusion WS" doc:id="7b1ae0b9-3fb2-490e-80c3-c7a812af46c7" config-ref="FusionWebService_Config" operation="GetReservationByNativeReference" >
			    <wsc:message>
        <wsc:body ><![CDATA[#[vars.soapBody]]]></wsc:body>
					<wsc:headers><![CDATA[#[vars.soapHeader]]]></wsc:headers>
    </wsc:message>
			</wsc:consume>-->
			<flow-ref doc:name="formatResponse" doc:id="ebabee6f-5948-4d52-85c0-9216bd0d3ad0" name="formatResponse"/>

			
			<java:invoke-static doc:name="Compare logged response with actual" doc:id="e4467348-009a-44b9-be6e-1bed32177923" class="fusiontester.ProcessData" method="CompareFusionResponses(String, String, String)">
				<java:args><![CDATA[#[{ 
	requestType: vars.loggedItem.FusionRequestType,
	loggedResponse: vars.loggedItem.FusionResponseXml,
	actualResponse: vars.actualResponse
}]]]></java:args>

			</java:invoke-static>
			<db:stored-procedure doc:name="Store test result" doc:id="18e6b2e3-204d-4f82-9791-abaf9d262559" config-ref="mssql-jdbc">
				<db:sql >{ call InsertTestResult(:DatabaseName, :TableName, :FusionRequestId, :TestResult, :TestInfo) }</db:sql>
				<db:input-parameters ><![CDATA[#[{
	'DatabaseName': vars.inputData.DatabaseName,
	'TableName': vars.inputData.DatabaseTable,
	'FusionRequestId': vars.loggedItem.FusionRequestId,
	'TestResult': payload,
	'TestInfo': vars.inputData.TestInfo
}]]]></db:input-parameters>
			</db:stored-procedure>
		
</foreach>
	</flow>

</mule>
