src/main/mule/single-test-job.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

	
		<flow name="TestJob" doc:id="954bc2f4-ba05-4d41-b62e-7239a32e63f2" >
		<vm:listener doc:name="Listener" doc:id="b2ae82fd-3e56-4c15-a178-0b233fa31848" config-ref="VM_Config_TestJob" queueName="TestJobQueue"/>
		
			<set-variable value="#[payload]" doc:name="Save TestId" doc:id="07a13084-3712-4a51-be0c-2e20f0a51010" variableName="TestId"/>
		<logger level="INFO" doc:name="Logger" doc:id="7a21533c-7569-435a-b941-09a080742acc" message="Started Testjob"/>
		<db:stored-procedure doc:name="Get details for Fusion Request" doc:id="a090a89e-459e-48d9-8483-a6cbbed2378e" config-ref="mssql-jdbc">
				<db:sql >{ call GetNextFusionRequestToTest(:TestId) }</db:sql>
				<db:input-parameters ><![CDATA[#[{ 'TestId': payload }]]]></db:input-parameters>
			</db:stored-procedure>
			<ee:transform doc:name="Save data in 'fusionItem' variable" doc:id="26c87d01-6c07-47cf-9509-24fb3240b449">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="loggedItem" ><![CDATA[%dw 2.0
output application/java
---
{
	FusionRequestId: payload[0].FusionRequestId[0],
	FusionRequestXml: payload[0].FusionRequestXml[0],
	FusionResponseXml: payload[0].FusionResponseXml[0],
	FusionRequestType: payload[0].RequestType[0],
	FusionRequestTypeLowerCase: lower (payload[0].RequestType[0]),
	FusionRequestTime:  payload[0].RequestTime[0] as String
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<flow-ref doc:name="buildSoapRequest" doc:id="2071d4b0-89a7-4ac3-ab20-78e61080350f" name="buildSoapRequest"/>
		<flow-ref doc:name="testFusionRequest" doc:id="24d7d97d-9c34-4b94-978c-8fc72693fb4c" name="testFusionRequest" />
			<db:stored-procedure doc:name="Store test result" doc:id="18e6b2e3-204d-4f82-9791-abaf9d262559" config-ref="mssql-jdbc">
				<db:sql >{ call UpdateTestResult(:TestId, :FusionRequestId, :TestResult,:ExpectedResponse,:ActualResponse,:ActualDCScalls,:NumberOfDifferences,:DCScallsMatch) }</db:sql>
				<db:input-parameters ><![CDATA[#[{
	'TestId': vars.TestId,
	'FusionRequestId': vars.loggedItem.FusionRequestId,
	'TestResult': payload.Message,
	'ExpectedResponse': payload.ExpectedResponseCleaned,
	'ActualResponse': payload.ActualResponseCleaned,
	'ActualDCScalls': payload.DCScalls,
	'NumberOfDifferences': payload.NumberOfDifferences,
	'DCScallsMatch': payload.DCScallsMatch
}]]]></db:input-parameters>
			</db:stored-procedure>
		<logger level="INFO" doc:name="Logger" doc:id="9eb54461-a20b-442f-8156-c3a56d26e723" message="#['Finished testjob']" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bec16869-59b7-4fc4-9970-201736c6740b" >
				<logger level="INFO" doc:name="Logger" doc:id="694069a7-2e62-48d0-9b30-9d01e6a2e228" message="There was an error in TestJob"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="testFusionRequest" doc:id="6422de27-cd6f-4c88-afce-85e270f41e58" >
		<flow-ref doc:name="SetTimeToEventTime" doc:id="10225e43-d10a-46ff-a50a-529003cf197e" name="SetTimeToEventTime"/>
		<try doc:name="Try" doc:id="06ca8f46-34a3-4300-8b4e-9d6e36d44759" >
			<http:request method="POST" doc:name="Fusion WS" doc:id="8f351ffe-262c-498f-801e-66d6cdd266f7" config-ref="FusionWebService" path="/FusionService.svc">
			<http:body><![CDATA[#[vars.actualRequest]]]></http:body>			
</http:request>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b43e246e-6232-4ea7-a8fd-9960a658e0d8" >
					<logger level="INFO" doc:name="Logger" doc:id="f61e3544-40bd-455a-962d-36cd2a1a5c98" message="There was an error when calling Fusion"/>
					<db:stored-procedure doc:name="Store Test Result" doc:id="88d11474-0fc1-4806-bf69-373bcd48e834" config-ref="mssql-jdbc">
					<db:sql >{ call UpdateTestResult(:TestId, :FusionRequestId, :TestResult,:ExpectedResponse,:ActualResponse,:ActualDCScalls,:NumberOfDifferences,:DCScallsMatch) }</db:sql>
						<db:input-parameters ><![CDATA[#[{
	'TestId': vars.TestId,
	'FusionRequestId': vars.loggedItem.FusionRequestId,
	'TestResult': 'Error happened calling Fusion',
	'ExpectedResponse': '',
	'ActualResponse': '',
	'ActualDCScalls': '',
	'NumberOfDifferences': '0',
	'DCScallsMatch': ''
	
}]]]></db:input-parameters>
					</db:stored-procedure>
					<flow-ref doc:name="SetTimeToCurrentTime" doc:id="3bb95090-8cdc-4466-be82-da1c2efe2c31" name="SetTimeToCurrentTime" />
				</on-error-propagate>
			</error-handler>
		</try>
		<flow-ref doc:name="formatResponse" doc:id="ebabee6f-5948-4d52-85c0-9216bd0d3ad0" name="formatResponse" />
		<flow-ref doc:name="SetTimeToCurrentTime" doc:id="8ce24fd9-d044-41a7-af28-9a2f151ce0cc" name="SetTimeToCurrentTime" />
		<db:stored-procedure doc:name="Get DCS calls info" doc:id="1aa84446-ea2e-408e-8913-25e648b1145e" config-ref="mssql-jdbc">
			<db:sql >{ call GetDCSCallsForFusionRequest(:FusionRequestId)}</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'FusionRequestId': vars.loggedItem.FusionRequestId }]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Save to 'DCScalls' variable" doc:id="cfaa72d4-add7-4c0a-8b6a-c467b8f84ad8" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="DCScalls" ><![CDATA[%dw 2.0
output application/java
---
{
	expected: payload['resultSet1'],
	actual: payload['resultSet2']	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:invoke-static doc:name="Compare logged response with actual" doc:id="e4467348-009a-44b9-be6e-1bed32177923" class="fusiontester.ProcessData" method="CompareResults(String, String, String, Object, Object)">
				<java:args><![CDATA[#[{ 
	requestType: vars.loggedItem.FusionRequestType,
	loggedResponse: vars.loggedItem.FusionResponseXml,
	actualResponse: vars.actualResponse,
	expectedDCScalls: vars.DCScalls.expected,
	actualDCScalls: vars.DCScalls.actual
}]]]></java:args>
			</java:invoke-static>
	</flow>
	
	</mule>
