src/main/mule/soap-response.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="formatResponse" doc:id="dcc09853-566e-4713-8ed1-90393015e4b1" >
				<choice doc:name="What response type?" doc:id="dbe162b1-05ab-44aa-a33e-d73d1986b9f9" >
				<when expression="#['getreservationbynativereference' == vars.loggedItem.FusionRequestTypeLowerCase]">
					<ee:transform doc:name="Format and save response to 'actualResponse'" doc:id="f41ab2c1-e3dd-4f4c-917c-8152cab1fca9">
				<ee:message>
				</ee:message>
				<ee:variables>
						<ee:set-variable resource="dw/GetReservationByNativeReference_Response.dwl" variableName="actualResponse" />
				
</ee:variables>
			</ee:transform>
				</when>
				<when expression=" 'getbaglicenseplate' ==vars.loggedItem.FusionRequestTypeLowerCase">
					<ee:transform doc:name="Format and save response to 'actualResponse'" doc:id="0af4af04-2abd-4c31-a321-526504469999" >
						<ee:message >
						</ee:message>
						<ee:variables >
						<ee:set-variable resource="dw/GetBagLicensePlate_Response.dwl" variableName="actualResponse" />
						
</ee:variables>
					</ee:transform>
				</when>
				<when expression="'quotebag' ==vars.loggedItem.FusionRequestTypeLowerCase">
				<ee:transform doc:name="Format and save response to 'actualResponse'" doc:id="ea1a34f2-a321-473f-8a77-a9dd6a79c3fb" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dw/QuoteBag_Response.dwl" variableName="actualResponse" />
					</ee:variables>
				</ee:transform>
				
</when>
			<when expression="'buyallowance' ==vars.loggedItem.FusionRequestTypeLowerCase">
				<ee:transform doc:name="Format and save response to 'actualResponse'" doc:id="f757c8c5-8194-4eef-b7ac-0bd57acf7328" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dw/BuyAllowance_Response.dwl" variableName="actualResponse" />
					</ee:variables>
				</ee:transform>
			</when>
			<when expression="'checkinpassenger' ==vars.loggedItem.FusionRequestTypeLowerCase">
				<ee:transform doc:name="Format and save response to 'actualResponse'" doc:id="3e6101dd-4d82-4bd6-adc1-4f6cd13511c9" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dw/CheckInPassenger_Response.dwl" variableName="actualResponse" />
					</ee:variables>
				</ee:transform>
			</when>
			
</choice>
			
	</flow>
	
	</mule>
