src/main/mule/time-manipulation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

	<flow name="SetTimeToCurrentTime" doc:id="c12be2a5-7c5a-4f0b-b50b-2c29597854d9" >
		<set-variable value="# [new java.util.Random().nextInt(20)]" doc:name="Generate Random Variable" doc:id="1e6e2b9a-9ddf-4422-b414-f2a4a6e065c0" variableName="RandomNumber" />
		<choice doc:name="5% of the time we get the time from an external source" doc:id="3dad5fee-73d7-4a1a-92a5-257357cc0d58" >
			<when expression="vars.RandomNumber == 19">
				<try doc:name="Try" doc:id="bf5614bd-6825-4359-ab5d-aadf56f75d74" >
					<flow-ref doc:name="GetCurrentTimeUsingTimeServer" doc:id="c02206bf-8e1a-4587-a9ca-8d887305470f" name="GetCurrentTimeUsingTimeServer"/>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b690856e-5575-4981-b2d4-2134369f72ee" >
							<logger level="INFO" doc:name="Logger" doc:id="11582101-4b52-4048-9a91-b78e1dc5409f" message="Tried to get real time but failed. Error was: #[error.description]. Will use saved info instead.   #['\n']"/>
							<flow-ref doc:name="SetCurrentTimeUsingSavedInfo" doc:id="3ec102db-4c25-42c0-8854-ec19c7d272b0" name="GetCurrentTimeUsingSavedInfo" />
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<flow-ref doc:name="SetCurrentTimeUsingSavedInfo" doc:id="ae337365-d9cd-4be6-a725-5d3e410bcef4" name="GetCurrentTimeUsingSavedInfo"/>
			</otherwise>
		</choice>
		<try doc:name="Try" doc:id="0f7f850f-8bb3-4d39-8615-8d547f074c6b" >
			<http:request method="POST" doc:name="TimeSetterWeb" doc:id="96277b73-448b-4e31-b776-62795221bf15" config-ref="TimeSetterWeb_configuration" path="/time" outputMimeType="application/json" outputEncoding="UTF-8">
				<http:body><![CDATA[#[vars.CurrentDateTime]]]></http:body>
				<http:response-validator>
					<http:success-status-code-validator values="200..599" />
				</http:response-validator>
		</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="305df0f5-e8e0-46fe-b73e-2d2afd08b4be" message="Changed time to current time successfully   #['\n']" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="49943820-a982-49a3-989a-58cb04f1cef0" >
					<logger level="INFO" doc:name="Logger" doc:id="26f9a60c-78e8-453f-9fa9-10396621329e" message="Failed to set current time. Error was: #[error.description]   #['\n']"/>
					<vm:publish doc:name="Publish" doc:id="17409932-dc4e-4d0a-982d-5694c56e8a7a" config-ref="VM_Config_SetRealTimeLoop" queueName="SetRealTimeQueue"/>
				</on-error-continue>
			</error-handler>
		</try>
		<java:invoke-static method="SleepNmilliSeconds(long) " doc:name="Wait for time to change" doc:id="0b7e2b6e-d81f-47a5-ba83-91465f9c2926" class="fusiontester.Helpers">
			<java:args><![CDATA[#[{i: 100}]]]></java:args>
		</java:invoke-static>
	
</flow>
	
	
	<flow name="SetTimeToEventTime" doc:id="bfec2897-7c9a-4d5b-9f90-e902eda8ce66">
		<java:invoke-static method="SaveCurrentDateTime()" doc:name="Save current date time" doc:id="0b8f4760-dfbd-42e7-9d03-26de15b2404c" class="fusiontester.Helpers" target="CurrentDateTime" />
		<ee:transform doc:name="Format request" doc:id="41a795d7-3c75-42d6-9b3b-8e8025173c6b">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	datetime: vars.loggedItem.FusionRequestTime
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<http:request method="POST" doc:name="TimeSetterWeb" doc:id="52db0346-b9d7-434b-ac5f-6df4d15591db" config-ref="TimeSetterWeb_configuration" path="/time" outputMimeType="application/json" outputEncoding="UTF-8">
				<http:response-validator>
					<http:success-status-code-validator values="200..599" />
				</http:response-validator>
			</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="fe082816-724a-4f78-8678-004f6a8e75e2" message="Changed time to time of event  (#[vars.loggedItem.FusionRequestTime])    #['\n']" />
		<java:invoke-static method="SleepNmilliSeconds(long) " doc:name="Wait for time to change" doc:id="905531c2-a500-4175-83ab-d5a31209ea83" class="fusiontester.Helpers">
			<java:args><![CDATA[#[{i: 100}]]]></java:args>
		</java:invoke-static>
	
</flow>
	<flow name="GetCurrentTimeUsingTimeServer" doc:id="15c88590-9ba6-4358-9c64-ec215ba2d099" >
		<http:request method="GET" doc:name="Get real time" doc:id="7343f530-8d4c-4ace-b244-debdcdd0bb5c" config-ref="RealTime_http_configuration" url="${real.time.server.url}" />
		<ee:transform doc:name="Format request" doc:id="17c06df7-b3da-4944-94ed-edf2a48f4b85">
			<ee:message>
			</ee:message>
			<ee:variables>
							<ee:set-variable variableName="CurrentDateTime"><![CDATA[%dw 2.0
output application/json
---
{
	datetime: payload.datetime[0 to 19] as String
}]]></ee:set-variable>

			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b681dd95-357b-4bdc-9c50-431951771998" message="Setting time back to real time (#[vars.CurrentDateTime]) using the time server   #['\n']" />
	</flow>
	<flow name="GetCurrentTimeUsingSavedInfo" doc:id="768b1484-5419-4e5a-8125-b91b8670bf5d" >
		<java:invoke-static doc:name="Get Current Time using saved info" doc:id="af43cbb7-0c2e-4f2e-aff8-6279296eb697" class="fusiontester.Helpers" method="GetCurrentTimeFromSavedInfo(String, String)" target="CalculatedCurrentDateTime">
			<java:args><![CDATA[#[{ 'eventDateTime': vars.loggedItem.FusionRequestTime, 'savedCurrentDateTime': vars.CurrentDateTime  }]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="df9e61d9-fc29-4759-b968-94ce44f771e6" message="Setting time back to real time (#[vars.CalculatedCurrentDateTime]) using saved info. Saved current date time was #[vars.CurrentDateTime], event date time was #[vars.loggedItem.FusionRequestTime]  #['\n']" />
		<ee:transform doc:name="Format request" doc:id="87adc105-4628-4538-9eb0-9c2e99395fd3">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="CurrentDateTime"><![CDATA[%dw 2.0
output application/json
---
{
	datetime: vars.CalculatedCurrentDateTime
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<flow name="KeepTryingToGetRealTimeUntilItSucceeds" doc:id="b8c5abd6-989d-406a-b0d8-867d0b5876ce" >
		<vm:listener doc:name="SetRealTimeQueue" doc:id="5d104aea-c27b-43d0-80f7-834cdec9d3cc" config-ref="VM_Config_SetRealTimeLoop" queueName="SetRealTimeQueue"/>
		<set-variable value="# [new java.util.Random().nextInt(59000) + 1000]" doc:name="Generate Random Variable" doc:id="c20dd54e-32a6-4770-a76a-8658688baddd" variableName="RandomNumber" />
		<java:invoke-static method="SleepNmilliSeconds(long) " doc:name="Sleep variable time between 1 and 60 seconds" doc:id="fefd297e-d2b8-4319-8d29-afaf59e668e1" class="fusiontester.Helpers" >
			<java:args ><![CDATA[#[{i: vars.RandomNumber}]]]></java:args>
		</java:invoke-static>
		<flow-ref doc:name="GetCurrentTimeUsingTimeServer" doc:id="4cabbeae-01e8-445e-a204-85d80ee4ec1e" name="GetCurrentTimeUsingTimeServer"/>
		<try doc:name="Try" doc:id="fd96dbc4-4210-4ff6-b911-eb5271d087b6" >
			<http:request method="POST" doc:name="TimeSetterWeb" doc:id="1bf63770-d172-4b5f-886e-717be8f6256e" config-ref="TimeSetterWeb_configuration" path="/time" outputMimeType="application/json" outputEncoding="UTF-8">
			<http:body><![CDATA[#[vars.CurrentDateTime]]]></http:body>
			<http:response-validator>
				<http:success-status-code-validator values="200..599" />
			</http:response-validator>
		</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fc92dc25-a6c8-4910-9eef-8f47dc50216c" >
					<vm:publish queueName="SetRealTimeQueue" doc:name="Publish in SetRealTimeQueue" doc:id="2076cfca-eda8-48b5-9985-ae72ec85efc2" config-ref="VM_Config_SetRealTimeLoop" />
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	
	
	
</mule>
