src/main/mule/ui-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="get:\fusiontester\tests:FusionTester-config">
		<db:stored-procedure doc:name="Get Tests" doc:id="68bdcc37-3941-4d2a-b639-8bc3e5ce3595" config-ref="mssql-jdbc">
			<db:sql >{ call GetTests(:DateFrom, :DateTo, :PageSize, :Page)}</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'DateFrom': attributes.queryParams['date-from'], 
'DateTo': attributes.queryParams['date-to'], 
'PageSize': attributes.queryParams['page-size'], 'Page': attributes.queryParams['page'] }]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="dc05197a-3887-4dd9-bae8-d81877807692" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.resultSet1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="4d8e6765-2446-4124-8021-4a1755a04d0f" name="AddCORSheader"/>
	
</flow>
	
	
	<flow name="get:\fusiontester\tests\(test-id):FusionTester-config">
		<db:stored-procedure doc:name="Get test details" doc:id="e906e8d0-32b8-40dd-baf1-66a9c954d945" config-ref="mssql-jdbc">
			<db:sql >{ call GetTestDetails(:TestId)}</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'TestId': attributes.uriParams['test-id'] }]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="5831f5fa-d55c-4b06-b98c-28a0b668e935" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.resultSet1[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="c055668e-a5c9-441b-8345-6cd19f61fc2e" name="AddCORSheader"/>

		</flow>
	
	<flow name="put:\fusiontester\tests\(test-id):application\json:FusionTester-config">
	<set-variable value="#[attributes.uriParams['test-id']]" doc:name="Save TestId in var" doc:id="4755f35c-2388-4948-9b11-82a23f5c41a1" variableName="TestId"/>
		<ee:transform doc:name="Transform Message" doc:id="e11697d4-b490-4e3d-ad04-166b54cfcd87">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<try doc:name="Try" doc:id="de3681d0-de41-4f98-8c9b-6e7d4de241aa" >
			<java:invoke-static doc:name="Format data for stored proc " doc:id="99090594-a6fb-4ea0-9b9a-cc6af513a086" class="fusiontester.UIhelpers" method="FormatTestForStoredProc(String)">
				<java:args ><![CDATA[#[{ 'payload': payload}]]]></java:args>
			</java:invoke-static>
			<logger level="INFO" doc:name="Logger" doc:id="b0885efe-b606-44c4-a403-1cf1e1898cd6" message="Will call UpdateTest #['\n']"/>
			<db:stored-procedure doc:name="Update test" doc:id="0774cd1a-09d6-427a-87e2-6ef017b4114e" config-ref="mssql-jdbc">
			<db:sql>{ call UpdateTest(:TestId, :TestName, :TestDescription, :TestCreator, :IncludeAirports, :IncludeAirlines, :FromDate, :ToDate, :IncludeFusionRequestTypes)}</db:sql>
			<db:input-parameters><![CDATA[#[{ 	
	'TestId': vars.TestId,
	'TestName': payload.TestName,
	'TestDescription': payload.TestDescription,
	'TestCreator': payload.TestCreator,
	'IncludeAirports': payload.IncludeAirports,
	'IncludeAirlines': payload.IncludeAirlines,
	'FromDate': payload.FromDate,
	'ToDate': payload.ToDate,
	'IncludeFusionRequestTypes': payload.IncludeFusionRequestTypes	
}]]]></db:input-parameters>
		</db:stored-procedure>
			<ee:transform doc:name="Return TestId" doc:id="0fc08143-2115-4b09-9b6b-e4c4d782d45b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: "success",
	data:{
		TestId: payload.resultSet1['TestId'][0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d2c392bd-730e-4cd5-a1f4-be2c32652b46" >
					<logger level="ERROR" doc:name="Logger" doc:id="aec693ef-dea3-4f09-b2d0-b30840da330a" message="There was an error when trying to create a test: #[error.description]"/>
					<ee:transform doc:name="Return error" doc:id="1b760523-fb85-4254-a94a-512470ab165d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "fail",
	data:{
		message: error.description
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="e9d639f3-e53d-4e44-9fb6-dfdfca927b38" message="Received request to start #[vars.Testid] #['\n']"/>
		<flow-ref doc:name="AddCORSheader" doc:id="be0b2120-c08f-42fb-ad83-ed393ed3ddf2" name="AddCORSheader"/>
	</flow>
	
	<flow name="post:\fusiontester\tests:application\json:FusionTester-config" doc:id="b353f25c-76cc-4df1-80da-52f9411f2c62" >
		<ee:transform doc:name="Transform Message" doc:id="e11697d4-b490-4e3d-ad04-166b54cfcd87">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<try doc:name="Try" doc:id="de3681d0-de41-4f98-8c9b-6e7d4de241aa" >
			<java:invoke-static doc:name="Format data for stored proc " doc:id="99090594-a6fb-4ea0-9b9a-cc6af513a086" class="fusiontester.UIhelpers" method="FormatTestForStoredProc(String)">
				<java:args ><![CDATA[#[{ 'payload': payload}]]]></java:args>
			</java:invoke-static>
			<db:stored-procedure doc:name="Insert test" doc:id="0774cd1a-09d6-427a-87e2-6ef017b4114e" config-ref="mssql-jdbc">
			<db:sql>{ call InsertTest(:TestName, :TestDescription, :TestCreator, :IncludeAirports, :IncludeAirlines, :FromDate, :ToDate, :IncludeFusionRequestTypes)}</db:sql>
			<db:input-parameters><![CDATA[#[{ 	'TestName': payload.TestName,
	'TestDescription': payload.TestDescription,
	'TestCreator': payload.TestCreator,
	'IncludeAirports': payload.IncludeAirports,
	'IncludeAirlines': payload.IncludeAirlines,
	'FromDate': payload.FromDate,
	'ToDate': payload.ToDate,
	'IncludeFusionRequestTypes': payload.IncludeFusionRequestTypes	
}]]]></db:input-parameters>
		</db:stored-procedure>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d2c392bd-730e-4cd5-a1f4-be2c32652b46" >
					<logger level="ERROR" doc:name="Logger" doc:id="aec693ef-dea3-4f09-b2d0-b30840da330a" message="There was an error when trying to create a test: #[error.description]"/>
					<ee:transform doc:name="Return error" doc:id="1b760523-fb85-4254-a94a-512470ab165d" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "fail",
	data:{
		message: error.description
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Return TestId" doc:id="0fc08143-2115-4b09-9b6b-e4c4d782d45b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "success",
	data:{
		TestId: payload.resultSet1['TestId'][0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="be0b2120-c08f-42fb-ad83-ed393ed3ddf2" name="AddCORSheader"/>
	</flow>
	
	
	
	
	
	<flow name="AddCORSheader" doc:id="40faf349-99e8-4c32-bfc1-09b1a6ffc7fb" >
		<ee:transform doc:id="b50ff959-380b-4b19-b901-64b7b2a954cd" doc:name="Add Access-Control-Allow-Origin">
  <ee:variables>
    <ee:set-variable variableName="outboundHeaders"><![CDATA[
       {"Access-Control-Allow-Origin": '*'}
    ]]></ee:set-variable>
  </ee:variables>
</ee:transform>
	</flow>
	<flow name="get:\fusiontester\tests\statistics:FusionTester-config" doc:id="c46f88be-007a-41b5-bcb8-f585ea010e7d" >
		<db:stored-procedure doc:name="Get test statiscics" doc:id="60d8a235-dd96-4eaa-b476-19a42c5c7b2e" config-ref="mssql-jdbc">
			<db:sql >{ call GetTestsStatistics() }</db:sql>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="b8befcbd-c42c-4898-a39d-ba62a7a9ed19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "success",
	data: payload.resultSet1[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="72351480-c6e0-4332-8a0b-d02bc16cbb15" name="AddCORSheader" />
	</flow>
	<flow name="get:\fusiontester\airlines:FusionTester-config" doc:id="e9799365-5643-485a-afcd-5394fa96d86f" >
		<db:stored-procedure doc:name="Get airlines" doc:id="35b4411d-59ed-47b1-8f93-94c0ba2397fa" config-ref="mssql-jdbc" >
			<db:sql >{ call GetAirlines() }</db:sql>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="b193e202-3075-440d-861c-813d28e913c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.resultSet1
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="c11195a1-436e-4a8a-a6be-56ed36a8a0cf" name="AddCORSheader" />
	</flow>
	<flow name="get:\fusiontester\airports:FusionTester-config" doc:id="30a0fc2e-a730-4e3e-9248-b45b0aa52823" >
		<db:stored-procedure doc:name="Get airports" doc:id="46be3f8f-2116-40b3-831c-27eeebb20b1d" config-ref="mssql-jdbc" >
			<db:sql >{ call GetAirports() }</db:sql>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="f3d9f971-39a9-4f72-81f4-1257eaee6040">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---
payload.resultSet1
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="2eba9b6b-8e6e-486d-9cc8-084689abd9b0" name="AddCORSheader" />
	</flow>
	<flow name="get:\fusiontester\fusion-request-types:FusionTester-config" doc:id="8c207706-560e-44ec-954e-201c39758b16" >
		<db:stored-procedure doc:name="Get Fusion Request Types" doc:id="6741ec7b-c74b-45a1-9721-dcf0e50aff6a" config-ref="mssql-jdbc" >
			<db:sql >{ call GetFusionRequestTypes() }</db:sql>
		</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="76a7dbc6-63fa-4dcd-b03b-068634800d2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.resultSet1
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="66087218-7d73-4db1-a6fc-caef35da679b" name="AddCORSheader" />
	</flow>
	<flow name="post:\fusiontester\execution\(test-id):application\json:FusionTester-config">
		<ee:transform doc:name="Transform Message" doc:id="bcfdc121-e999-4245-b672-3fc3d3c6a38b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Input" ><![CDATA[%dw 2.0
output application/java
---
{
	TestId: attributes.uriParams['test-id'],
	Action: payload['Action']
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Start or Stop?" doc:id="7af4481a-f10d-47f5-be45-ffdaac92846d" >
			<when expression="#[vars.Input.Action =='start']">
				<logger level="INFO" doc:name="Logger" doc:id="79296580-997f-4779-a765-e702e936c95f" message="Will call StartTest #['\n']"/>
				<db:stored-procedure doc:name="Start Test" doc:id="676537bf-9efb-4d94-ab89-add55ebc5423" config-ref="mssql-jdbc">
			<db:sql>{ call StartTest(:TestId) }</db:sql>
			<db:input-parameters><![CDATA[#[{ 'TestId' : vars.Input.TestId }]]]></db:input-parameters>
		</db:stored-procedure>
				<ee:transform doc:name="Save result in var" doc:id="3d39896c-c7b9-4397-a30c-ceff1a5200d0">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="InitializationResult"><![CDATA[%dw 2.0
output application/java
---
payload.resultSet1[0].Result
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<choice doc:name="Initialization OK?" doc:id="9e5607a9-014b-4486-86e6-fb626ef82b76">
			<when expression="#[vars.InitializationResult == 'Test started']">
				<set-payload value="#[vars.Input.TestId]" doc:name="Set Payload" doc:id="81233c51-2f6f-443f-8a23-26d518b21f7c" />
				<vm:publish queueName="BackgroundJob" doc:name="Add job to queue" doc:id="8316df58-d81c-42cc-8a09-f72fed584503" config-ref="VM_Config_BackgroundJob" />
				<logger level="INFO" doc:name="Logger" doc:id="2a43954e-0e33-4590-a7d5-b529e4b4db4f" message="Started batch test with id #[vars.Input.TestId]  #['\n']" />
				<ee:transform doc:name="Return success" doc:id="146ce8f7-f9d6-48b0-af8b-78bd27f5b2b0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="98a3bfb9-c9ee-4c18-ba00-d7144a047ac8" message="Failed to start test with id #[vars.TestId]  #['\n']" />
				<ee:transform doc:name="Return error" doc:id="537794e1-c14a-4848-85f7-38480412103f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: "error",
	message: vars.InitializationResult
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="3a6bd39e-00a9-46f2-8d2b-732a5521bdc4" message="Will cal StopTest #['\n']"/>
				<db:stored-procedure doc:name="Stop Test" doc:id="d89a5a4d-6b28-47f1-a998-fd1262d0910e" config-ref="mssql-jdbc">
					<db:sql >{ call StopTest(:TestId) }</db:sql>
					<db:input-parameters ><![CDATA[#[{ 'TestId' : vars.Input.TestId }]]]></db:input-parameters>
				</db:stored-procedure>
				<ee:transform doc:name="Save result in var" doc:id="5f7f9cad-a871-412c-b531-e8b178f108a3" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="InitializationResult" ><![CDATA[%dw 2.0
output application/java
---
payload.resultSet1[0].Result
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<choice doc:name="Stopped OK?" doc:id="cc1f1bf0-addd-40ff-b05f-f73fa13c4556" >
					<when expression="#[vars.InitializationResult == 'Test stopped']">
						<ee:transform doc:name="Return success" doc:id="2d4cca0b-3d30-4275-89a2-70fed55e148d" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "success"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="8d8f0d9e-d03a-4378-9ff2-9c60d673f41c" message="Failed to stop test with id #[vars.TestId]  #['\n']" />
						<ee:transform doc:name="Return error" doc:id="fc34490b-e1fb-4f0e-a213-92bee4218ecd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result: "error",
	message: vars.InitializationResult
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</otherwise>
				</choice>
			</otherwise>
		</choice>
    

</flow>
<flow name="get:\fusiontester\tests\(test-id)\results\statistics:FusionTester-config"  >
		<db:stored-procedure doc:name="Get results statiscics"  config-ref="mssql-jdbc">
			<db:sql >{ call GetTestResultsStatistics(:TestId) }</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'TestId': attributes.uriParams['test-id'] }]]]></db:input-parameters>
		
</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="b8befcbd-c42c-4898-a39d-ba62a7a9ed19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	result: "success",
	data: payload.resultSet1[0]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="72351480-c6e0-4332-8a0b-d02bc16cbb15" name="AddCORSheader" />
	</flow>

	<flow name="get:\fusiontester\tests\(test-id)\results:FusionTester-config"  >
		<db:stored-procedure doc:name="Get test results "  config-ref="mssql-jdbc">
			<db:sql >{ call GetTestResults(:TestId, :PageSize, :Page) }</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'TestId': attributes.uriParams['test-id'],
	'PageSize': attributes.queryParams['page-size'], 'Page': attributes.queryParams['page']
}]]]></db:input-parameters>
		
</db:stored-procedure>
		<ee:transform doc:name="Format response" doc:id="b8befcbd-c42c-4898-a39d-ba62a7a9ed19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.resultSet1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader" doc:id="72351480-c6e0-4332-8a0b-d02bc16cbb15" name="AddCORSheader" />
	</flow>
	
	
	<flow name="get:\fusiontester\tests\results\(test-result-id):FusionTester-config"  >
		<db:stored-procedure doc:name="Get result details"  config-ref="mssql-jdbc">
			<db:sql >{ call GetResultDetails(:TestResultId) }</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'TestResultId': attributes.uriParams['test-result-id'] }]]]></db:input-parameters>
		
</db:stored-procedure>
		<ee:transform doc:name="Format response"  doc:id="d331a92b-6785-4468-9015-e4fe7ff1eb47">
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.resultSet1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="AddCORSheader"  name="AddCORSheader" />
	</flow>
</mule>
